* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    margin: 0; /* Reset default margin */
}

/* Text designs */
h1 {
    color: white;
    text-align: center;
    letter-spacing: 10px;
    margin: 20px 0;
}

p {
    text-align: center;
    color: white;
    margin: 10px;
}

.give {
    color: antiquewhite;
    margin-top: 10px;
}

.para {
    margin-top: 10px;
}

/* Design for the clock */
.clock {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    border: 15px solid rgb(196, 117, 117);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 600px;
    border: 10px solid white;
    border-radius: 15px;
    margin: 40px auto; /* Center the clock */
    transition: width 1s;
    transition-timing-function: ease-in-out;
}

/* Image design */
img {
    display: block;
    margin: 0 auto; /* Center the image */
    width: 80%;
    max-width: 565px;
    height: auto;
    transition: width 1s;
    transition-timing-function: ease-in-out;
}

/* Additional image design */
#days,
#hours,
#minutes,
#seconds {
    border-radius: 15px;
    padding: 10px;
    color: whitesmoke;
}

span {
    color: white;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .clock {
        width: 80%; /* Adjust the width for smaller screens */
    }

    img {
        width: 100%; /* Make the image fill the width of the screen */
        max-width: none; /* Remove the max-width restriction */
    }

    #days,
    #hours,
    #minutes,
    #seconds {
        display: block;
        margin: 10px auto; /* Center the timer */
    }
}
